.env
.env.*
.git
.idea
.vscode
Advice.txt
frontend
backend/**/target
backend/**/target/classes
backend/**/target/generated-sources
backend/**/target/generated-test-sources
backend/**/target/maven-archiver
backend/**/target/maven-status
backend/**/target/surefire-reports
backend/**/target/test-classes
backend/**/target/*.original
backend/**/.mvn
**/node_modules
**/.cache
**/dist
**/build
**/.DS_Store
