target/
frontend/node_modules/
frontend/dist/
*.log
.vscode/
.env
.env.*
!**/.env.example
.env-dev
.env-prod
.env.railway
frontend/.env.local
frontend/.env.*.local
dist
node_modules
/frontend/package-lock.json
data.txt